shamefully-hoist=true

registry=http://central.jaf.cmbchina.cn/artifactory/api/npm/group-npm/
sass_binary_site=http://central.jaf.cmbchina.cn/artifactory/taobao-mirrors/node-sass/
phantomjs_cdnurl=http://central.jaf.cmbchina.cn/artifactory/phantomjs-mirrors/
chromedriver_cdnurl=http://central.jaf.cmbchina.cn/artifactory/chromedriver-mirrors/
operadriver_cdnurl=http://central.jaf.cmbchina.cn/artifactory/operadriver/
puppeteer_download_host=http://central.jaf.cmbchina.cn/artifactory/taobao-mirrors/
CYPRESS_INSTALL_BINARY=http://central.jaf.cmbchina.cn/artifactory/taobao-mirrors/cypress/9.6.0/linux-x64/cypress.zip
strict-peer-dependencies=false
